<ng-container>
    <section class="areaToDoList">
        <section class="container">
            <header class="headerTitle">
                <h1 class="titleToDoList">To Do App
                    <img alt="iconPin" class="pinIcon" src="./../../../assets/img/pinIcon.png">
                </h1>
                <span class="subTitle">Enjoy managing your tasks!</span>
                <hr />
            </header>
            <section class="containerItems">
                <ng-container *ngIf="listTask.length === 0">
                    <div class="messageArea">
                        <span class="message">Add a new task here
                            <img alt="iconDown" class="downIcon" src="./../../../assets/img/imgDown.png">
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngIf="listTask.length !== 0">
                    <ng-container *ngFor="let item of listTask; let i = index">
                        <app-to-do-item [taskActions]="toDoItemProps" [description]="item" [index]="i"/>
                    </ng-container>
                </ng-container>
            </section>
            <app-add-to-do [props]="childProps" />
        </section>
    </section>
</ng-container>